body{
  background-color: #0277bd;
  color: black;
  opacity: 1;
}

.encabezado {
  height: 150px;
  background-color: #fffde7;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;

}

.redes-sociales{
  height: inherit;
  padding-bottom: 8px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo-img {
  height: 140px;
}

.img-social {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

@media (max-width: 768px) {
  .encabezado {
    height: auto;
    }
  .redes-sociales{
    justify-content: center;
  }
}
