body{
  background-color: #01579b;
  color: black;

}

.encabezado {
  height: 150px;
  background-color: #fffde7;
  padding-left: 8px;
  padding-right: 8px;
}

.esquinas{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.redes-sociales{
  height: inherit;
  padding-bottom: 8px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo-img {
  height: 140px;
}

.img-social {
  width: 40px;
  height: 40px;
  border: 2px solid white;
}

.enlaces{
  background-color: #fff9c4;
  border: #ffffff 1px solid;
  padding-top: 10px;
  height: 40px;
  font-weight: bold;
}

a:hover img{
  opacity: 0.5;
  zoom: 1.2;
}

a:hover {
  background-color: #01579b;
  color: #ffffff;
  font-stretch: expanded;
  font-size: 1.4em;
	text-decoration: none;
}

@media (max-width: 768px) {
  .encabezado {
    height: auto;
    }
  .redes-sociales{
    justify-content: center;
  }
}
